body {
  width: 300px;
  height: 400px;
  margin: 0;
  display: grid;
  grid-template-rows: min-content auto min-content;
  padding: 1rem!important;
  grid-row-gap: .5rem;
}

html {
  overflow-y: hidden!important;
}

#title {
  font-family: sans-serif;
  font-size: 1.1rem;
}